body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html[dir="rtl"] {
  font-family: "Noto Kufi Arabic", sans-serif;
  text-align: right;
}

html[dir="ltr"] {
  font-family: "Poppins", sans-serif;
  text-align: left;
}

@media (min-width: 768px) {
  nav ul li {
    font-size: 13px;
  }
}
@media (min-width: 991px) {
  nav ul li {
    font-size: 16px;
  }
}
.boxs .box {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.hide {
  display: none;
}
.show {
  display: block;
}

/* تغيير حجم زر التشغيل */
.vjs-theme-fantasy .vjs-big-play-button {
  font-size: 50px !important;
  color: white !important;
  background-color: rgba(13, 11, 11, 0.503) !important;
  border: 2px solid white !important;
  border-radius: 50% !important;
}
.vjs-poster::before {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  height: 100% !important;
  width: 100% !important;
  background-color: rgba(13, 11, 11, 0.186) !important;
}
